# created by virtualenv automatically

# Ignore common build folders
share/
scripts/
lib/
etc/

# Ignore editor temporary files
*.pyc
*.swp

pyvenv.cfg
.ipynb_checkpoints

# Ignore IDE/version control configuration files
.idea/
.vscode/
.git/

# Ignore virtual environment folder
venv/

